$Light-red: hsl(356, 100%, 66%);
$Very-light-red: hsl(355, 100%, 74%);
$Very-dark-blue: hsl(208, 49%, 24%);
$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-dark-grayish-blue: hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);
$Gradient-red-start: hsl(13, 100%, 72%);
$Gradient-red-end: hsl(353, 100%, 62%);
$Gradient-blue-start: hsl(237, 17%, 21%);
$Gradient-blue-end: hsl(237, 23%, 32%);

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
// Typography

h1 {
  font-size: 2.074rem;
}
h2 {
  font-size: 1.728rem;
}
h3 {
  font-size: 1.44rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.833rem;
  font-weight: 100;
}
body,
p,
a,
li,
span {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Overpass";
}
.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

///Styling Header Start
header {
  background: rgb(255, 143, 112);
  //   background-image: linear-gradient(145deg, rgba(255, 143, 112, 1) 47%, rgba(255, 61, 84, 1) 86%);

  width: 100%;
  border-bottom-left-radius: 5em;
  padding: 15px;
  padding-top: 50px;
  overflow: hidden;
  color: $White;

  //   .header-bg {
  //     z-index: 1;
  //     display: block;
  //     width: 300%;
  //     height: 300%;
  //     position: absolute;
  //     top: -65%;
  //     left: -75%;
  //     mix-blend-mode: normal;
  //   }

  h1 {
    margin-top: 25%;
  }
  p {
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 15%;
  }
}
.header-content {
  width: 84.8%;
  margin: 0 auto;
  text-align: center;
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40%;
  }
}

.logo,
.icon img {
  display: block;
}
#icon-close {
  display: none;
}
.dropdown {
  display: none;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}

.top-navigation {
  button {
    display: none;
  }
}
.dropdown-content {
  display: none;
}
.dropdown[state="open"] .dropdown-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: lighten($Grayish-blue, 15%);
  color: $Very-dark-grayish-blue;
  margin-top: 15px;
  padding: 15px 0px;
  border-radius: 0.3em;
}
.dropdown-content li {
  margin: 5px 0px;
}
@media screen and (max-width: 600px) {
  .top-navigation.nav-open .dropdown {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 25px;
  }

  .top-navigation.nav-open {
    position: absolute;
    width: calc(100% - 30px);
    padding: 1.5em;
    background: $White;
    color: $Very-dark-blue;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 6px 33px 5px rgba(0, 0, 0, 0.35);
    border-radius: 0.3em;
    .buttons {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    .btn-primary {
      display: block;
      color: $White;
      background: linear-gradient(90deg, rgba(255, 143, 112, 1) 27%, rgba(255, 61, 84, 1) 100%);
      border: none;
      padding: 1.1em 2em;
      margin-bottom: 15px;
    }
    .btn-tertiary {
      display: block;
      color: $Very-dark-blue;
    }
    li {
      list-style: none;
    }
    span {
      display: flex;
      text-align: center;
      align-items: center;
    }
    img {
      display: block;
      margin-left: 5px;
      //Change white fill of image to $Light-red Color (#ff525d)
      filter: invert(44%) sepia(57%) saturate(1162%) hue-rotate(318deg) brightness(99%) contrast(111%);
    }
  }
}
///Styling Header End
////////
//////
//////////

//Styling Buttons Start
button {
  padding: 1.1em;
  border-radius: 2em;
  border: 1px solid $White;
  background: $White;
  color: $Light-red;
  font-weight: bold;
}
.btn-secondary {
  background: none;
  color: $White;
}
.btn-tertiary {
  background: none;
  border: none;
  color: $White;
}
////Styling Buttons End
////////
//////
//////////

////Styling section1
section {
  margin: 20px 0px;
  padding: 0px 15px;
  h3,
  h4 {
    color: $Very-dark-blue;
    font-size: 1.44rem; //Same size in mobile
    text-align: center;
  }
}

.section-1-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  picture {
    width: 100%;
    height: auto;
    order: -1;
    margin-left: -50px; //correct align the image
  }
  h4 {
    width: 70%;
    margin: 5px 0px;
  }
  p {
    padding: 0px 35px;
    margin: 15px 0px;
    line-height: 1.6;
  }
}

.section-2 {
  background: url(./images/bg-pattern-circles.svg) no-repeat, linear-gradient($Gradient-blue-start, $Gradient-blue-end);
  background-size: cover, 100% 100%;
  background-position: center -215px, 0 0;
  position: relative;
  margin-top: 200px;
  border-radius: 0em 5em 0em 5em;
  .section-2-content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    margin: 100px 0;
    line-height: 1.6;
  }
  h3,
  p {
    margin: 15px 0px;
    padding: 0px 20px;
  }
  h3 {
    margin-top: 100px;
    color: $White;
  }
  p {
    color: $Grayish-blue;
    width: 35ch;
  }
  img {
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: auto;
  }
}

.section-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: auto;
  }
  .section-3-content {
    text-align: center;
    width: 30ch;
    line-height: 1.6;
  }
}

footer {
  background: $Very-dark-black-blue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 45px 0px;
  border-radius: 0em 5em 0em 0em;
  img {
    margin-bottom: 30px;
  }
  ul {
    width: 100%;
    padding: 0;
    color: $White;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  li {
    color: $Grayish-blue;
    margin-top: 15px;
    cursor: pointer;
  }
}
