$Light-red: hsl(356, 100%, 66%);
$Very-light-red: hsl(355, 100%, 74%);
$Very-dark-blue: hsl(208, 49%, 24%);
$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-dark-grayish-blue: hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);
$Gradient-red-start: hsl(13, 100%, 72%);
$Gradient-red-end: hsl(353, 100%, 62%);
$Gradient-blue-start: hsl(237, 17%, 21%);
$Gradient-blue-end: hsl(237, 23%, 32%);

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
// Typography

h1 {
  font-size: 2.074rem;
}
h2 {
  font-size: 1.728rem;
}
h3 {
  font-size: 1.44rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.833rem;
  font-weight: 100;
}
body,
p,
a,
li,
span {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Overpass";
}
.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

///Styling Header Start
header {
  //   background-image: linear-gradient(145deg, rgba(255, 143, 112, 1) 47%, rgba(255, 61, 84, 1) 86%);
  background: linear-gradient(145deg, $Gradient-red-start, $Gradient-red-end), url(./images/bg-pattern-intro.svg) no-repeat;
  background-size: 100% 100%, 320% 320%;
  background-position: 0 0, 36% 36%;
  background-blend-mode: lighten;
  width: 100%;
  border-bottom-left-radius: 5em;
  padding: 15px;
  padding-top: 50px;
  overflow: hidden;
  color: $White;

  h1 {
    margin-top: 25%;
  }
  p {
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 15%;
  }
}
.header-content {
  width: 84.8%;
  margin: 0 auto;
  text-align: center;
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30%;
  }
}

.logo,
.icon img {
  display: block;
}
#icon-close {
  display: none;
}
.dropdown {
  display: none;
}
.header-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}

.top-navigation {
  display: none;
  button {
    display: none;
  }
}
.dropdown-content {
  display: none;
}
.dropdown[state="open"] .dropdown-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: lighten($Grayish-blue, 15%);
  color: $Very-dark-grayish-blue;
  margin-top: 15px;
  padding: 15px 0px;
  border-radius: 0.3em;
}
.dropdown-content li {
  margin: 5px 0px;
}
@media screen and (max-width: 600px) {
  .top-navigation.nav-open .dropdown {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 25px;
  }

  .top-navigation.nav-open {
    display: block;
    position: absolute;
    width: calc(100% - 30px);
    padding: 1.5em;
    top: 80px;
    background: $White;
    color: $Very-dark-blue;
    font-weight: bold;
    list-style: none;
    box-shadow: 0px 6px 33px 5px rgba(0, 0, 0, 0.35);
    border-radius: 0.3em;
    .buttons {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
    .btn-primary {
      display: block;
      color: $White;
      background: linear-gradient(90deg, rgba(255, 143, 112, 1) 27%, rgba(255, 61, 84, 1) 100%);
      border: none;
      padding: 1.1em 2em;
      margin-bottom: 15px;
    }
    .btn-tertiary {
      display: block;
      color: $Very-dark-blue;
    }
    li {
      list-style: none;
    }
    span {
      display: flex;
      text-align: center;
      align-items: center;
    }
    img {
      display: block;
      margin-left: 5px;
      //Change white fill of image to $Light-red Color (#ff525d)
      filter: invert(44%) sepia(57%) saturate(1162%) hue-rotate(318deg) brightness(99%) contrast(111%);
    }
  }
}
@media screen and (min-width: 600px) {
  .icon {
    display: none;
  }
  header {
    padding: 0px 2%;
    background: linear-gradient(145deg, $Gradient-red-start 5%, $Gradient-red-end 60%), url(./images/bg-pattern-intro.svg) no-repeat;
    background-size: 100% 100%, 1500px 1500px;
    background-position: 0 0, 35% 45%;
    h1 {
      margin-top: 50px;
    }
  }
  .header-content {
    padding: 0px 45px;
    .buttons {
      margin-bottom: 80px;
    }
  }
  .header-top {
    width: 100%;

    align-items: center;
  }
  .top-navigation {
    display: flex;
    width: 100%;
    align-items: center;
    .buttons {
      display: flex;
      width: auto;
      margin-left: auto;
    }
    button {
      display: block;
    }
  }
  .dropdown {
    display: flex;
    margin-right: 15px;
    position: relative;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      .dropdown-content {
        display: block;
      }
    }
  }
  .dropdown-content {
    position: absolute;
    list-style: none;
    line-height: 1.6;
    margin: 0;
    top: 40px;
    left: -10%;
    padding: 15px;
    border-radius: 0.3em;
    color: $Very-dark-blue;
    background: $White;

    li:hover {
      color: $Very-dark-black-blue;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 900px) {
  .wrapper {
    overflow: hidden;
  }
  .wrapper > * {
    padding: 5% 8%;
  }
  header {
    background-size: 100% 100%, 2500px 2500px;
  }
  header,
  section {
    padding: 0px 5%;
  }
}

///Styling Header End
////////
//////
//////////

//Styling Buttons Start
button {
  padding: 1.1em;
  border-radius: 2em;
  border: 1px solid $White;
  background: $White;
  color: $Light-red;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary {
  &:hover {
    background: lighten($color: $Light-red, $amount: 10%);
    color: $White;
    border: none;
  }
}
.btn-secondary {
  background: none;
  color: $White;
  &:hover {
    background: $White;
    color: $Light-red;
  }
}
.btn-tertiary {
  background: none;
  border: none;
  color: $White;
}
////Styling Buttons End
////////
//////
//////////

////Styling section1
section {
  margin: 20px 0px;
  padding: 0px 15px;
  h3,
  h4 {
    color: $Very-dark-blue;
    font-size: 1.44rem; //Same size in mobile
    text-align: center;
  }
}
.section-1 {
  position: relative;
}
.section-1-content {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  picture {
    margin: 0px 5%;
    width: 100%;
    order: -1;
  }
  picture img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: auto;
    order: -1;
  }
  h4 {
    width: 15ch;
    margin: 5px 0px;
  }
  p {
    padding: 0px 35px;
    margin: 15px 0px;
    line-height: 1.6;
  }
  div {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 30ch;
    margin-top: 15px;
  }
  @media screen and (min-width: 950px) {
    flex-flow: column;

    picture {
      position: absolute;
      top: 0;
      right: -11.5%;
      width: auto;
      margin: 0;
    }
    h4 {
      width: auto;
    }
    div,
    p {
      text-align: left;
      align-items: flex-start;
      max-width: 50ch;
      padding: 0;
    }
  }
}

.section-2 {
  background: url(./images/bg-pattern-circles.svg) no-repeat, linear-gradient($Gradient-blue-start, $Gradient-blue-end);
  background-size: cover, 100% 100%;
  background-position: center -215px, 0 0;
  position: relative;
  margin-top: 200px;
  border-radius: 0em 5em 0em 5em;
  width: 100%;
  img {
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 100%;
    max-width: 450px;
    transform: translate(-50%, -50%);
    height: auto;
  }
  @media screen and (min-width: 950px) {
    background-position: -400px -500px, 0 0;
    display: flex;
    justify-content: flex-end;

    img {
      top: 6%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 30px;
    background-position: -400px -900px, 0 0;
    img {
      top: 50%;
      left: 28%;
      max-width: 600px;
      transform: translate(-50%, -50%);
    }
  }
}
.section-2-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 130px 0 60px 0;
  line-height: 1.6;
  h3,
  p {
    margin: 15px 0px;
    padding: 0px 20px;
  }
  h3 {
    margin-top: 100px;
    color: $White;
  }
  p {
    color: $Grayish-blue;
    width: 35ch;
  }
  @media screen and (min-width: 950px) {
    display: block;
    text-align: left;
    margin: 0;
    margin-left: auto;
    padding: 50px 0;
    padding-left: 50%;

    h3 {
      margin-top: 0;
      padding: 0;
      font-size: 1.7rem;
      text-align: left;
    }
    p {
      padding: 0;
    }
  }
}

.section-3 {
  margin-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  picture,
  picture img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: auto;
    order: -1;
  }
}
.section-3-content {
  text-align: center;
  width: 100%;
  line-height: 1.6;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 30ch;
    margin: 2%;
  }
  h4 {
    margin: 0;
  }
}

footer {
  background: $Very-dark-black-blue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 45px 0px;
  border-radius: 0em 5em 0em 0em;
  img {
    margin-bottom: 30px;
  }
}
.footer-content {
  width: 100%;
  ul {
    padding: 0;
    color: $White;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  li {
    color: $Grayish-blue;
    margin-top: 15px;
    cursor: pointer;
  }
  @media screen and (min-width: 500px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
